@import url("colors_fonts.css");


* {
	scroll-behavior: smooth;
}
/* -------------------------------------------- */
/* Dashboard */
/* -------------------------------------------- */

/*  styling scrollbars  */

body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px #a5aaad;
	border-radius: 10px;
}

body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-thumb {
	background: var(--popstar);
	border-radius: 20px;
}

body.dark::-webkit-scrollbar-thumb {
	background: var(--red-black);
}

body {
	font-family: var(--poppins);
	transition: all 0.4s ease-in;
}

body.dark {
	background: var(--carbon-black);
}

.container {
	display: grid;
	height: 1080px;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 0.2fr 3fr;
	grid-template-areas:
		"sidebar nav nav nav"
		"sidebar main main main";
	/* grid-gap: 0.2rem; */
	background: radial-gradient(
			circle,
			transparent 20%,
			slategray 20%,
			slategray 80%,
			transparent 80%,
			transparent
		),
		radial-gradient(
				circle,
				transparent 20%,
				slategray 20%,
				slategray 80%,
				transparent 80%,
				transparent
			)
			50px 50px,
		linear-gradient(#a8b1bb 8px, transparent 8px) 0 -4px,
		linear-gradient(90deg, #a8b1bb 8px, transparent 8px) -4px 0;
	background-color: slategray;
	background-size: 100px 100px, 100px 100px, 50px 50px, 50px 50px;
	overflow: auto;
}

body.dark .container {
	background: none;
	box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.05), 4px 4px 6px rgba(0, 0, 0, 0.2),
		inset -1px -1px 4px rgba(255, 255, 255, 0.05), inset 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.main__title {
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
	margin-top: 3em;
}

.main__title img{
	width: 300px;
}

body.dark .main__title{
	color: var(--champagne-pink);
}

.title_table {
	text-align: center;
	padding-bottom: 1.5em;
	color: #fff;
	filter: drop-shadow(0 0 1px #000) drop-shadow(1px 1px 0 #000) drop-shadow(-1px 1px 0 #000)
		drop-shadow(1px -1px 0 #000) drop-shadow(-1px -1px 0 #000);
	font-size: 1.8em;
}

.main__container {
	grid-column: 2/5;
	padding: 3em;
}

body.dark .main__container {
	color: #fff;
}

.main__greeting{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	font-weight: 500;
}

.navbar {
	background: var(--deep-taupe);
	grid-area: nav;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 30px 0 30px;
	border-bottom: 1px solid lightgray;
}

body.dark .navbar {
	border: none;
	background: var(--carbon-black);
	box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.05), 4px 4px 6px rgba(0, 0, 0, 0.2),
		inset -1px -1px 4px rgba(255, 255, 255, 0.05), inset 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.nav_icon {
	display: none;
}

.nav_icon > i {
	font-size: 26px;
	color: #a5aaad;
}

.navbar__left > h4 {
	color: var(--champagne-pink);
	font-size: 1.5em;
}

.navbar__right {
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar__right > a {
	margin-left: 20px;
	text-decoration: none;
	color: var(--champagne-pink);
}

.navbar__right > a > i {
	font-size: 16px;
	border-radius: 50px;
	padding: 7px;
}

.foto_perfil {
	width: 30px;
	border-radius: 20%;
}

/*  SIDEBAR STARTS HERE  */

#sidebar {
	background: var(--deep-taupe);
	grid-area: sidebar;
	overflow-y: auto;
	padding: 20px;
	-webkit-transition: display 0.5s ease-in-out;
	transition: display 1s ease-in-out;
}

body.dark #sidebar {
	background: var(--carbon-black);
	box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.05), 4px 4px 6px rgba(0, 0, 0, 0.2),
		inset -1px -1px 4px rgba(255, 255, 255, 0.05), inset 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.sidebar__title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #f3f4f6;
	margin-bottom: 30px;
	/* color: #E85B6B; */
}

.sidebar__img {
	display: flex;
	align-items: center;
}

.sidebar__title > div > img {
	width: 210px;
	object-fit: contain;
}

.sidebar__title > div > h1 {
	font-size: 18px;
	display: inline;
}

.sidebar__title > i {
	font-size: 18px;
	display: none;
}

.sidebar__username {
	display: none;
}

.sidebar__link {
	color: #f3f4f6;
	padding: 10px;
	border-radius: 3px;
	margin-bottom: 5px;
}

.sidebar__link > a {
	color: var(--champagne-pink);
}

.active_menu_link {
	background: var(--popstar);
	color: var(--middle-blue-green);
}

body.dark .active_menu_link {
	background: var(--red-black);
	animation: animate 5s linear infinite;
	color: var(--skobeloff);
}

.active_menu_link a {
	color: var(--middle-blue-green) !important;
}

body.dark .active_menu_link a {
	color: var(--skobeloff) !important;
}

.sidebar__link > a {
	text-decoration: none;
	color: var(--champagne-pink);
	font-weight: 700;
}

.sidebar__link > i {
	margin-right: 10px;
	font-size: 18px;
}

.sidebar__divider {
	margin: 2em auto;
}

.sidebar__role {
	text-decoration: none;
	color: var(--middle-blue-green);
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

body.dark .sidebar__role {
	color: var(--skobeloff);
}

.sidebar_responsive {
	display: inline !important;
	z-index: 9999 !important;
	left: 0 !important;
	position: absolute;
}

/* -------------------------------------------- */
/* Update Information */
/* -------------------------------------------- */

.updateinfo_container {
	width: 100%;
	margin: auto;
	background: rgba(255, 255, 255, 0.18);
	backdrop-filter: blur(8px);
	opacity: 0.95;
	height: 700px;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(2, 1fr);
	align-content: flex-start;
	border-radius: 20px;
	filter: drop-shadow(20px 10px 4px #484858);
}

body.dark .updateinfo_container {
	background: rgba(21, 20, 20, 0.18);
	filter: none;
	box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.05), 4px 4px 6px rgba(0, 0, 0, 0.2),
		inset -1px -1px 4px rgba(255, 255, 255, 0.05), inset 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.updateinfo_container .form_info {
	background: var(--gray-medium);
	justify-self: center;
	align-self: center;
	padding: 1.5em 1em;
	border-radius: 10px;
	filter: drop-shadow(20px 10px 10px #484858);
}

body.dark .updateinfo_container .form_info {
	filter: none;
	background: var(--dark-liver);
}

.updateinfo_container .form_info input,
.updateinfo_container .form_info .change_pass {
	border-radius: 5px;
	outline: none;
	border: none;
	box-shadow: 10px 10px 5px 2px rgba(0, 0, 0, 0.18);
	-webkit-box-shadow: 10px 10px 5px 2px rgba(0, 0, 0, 0.18);
	-moz-box-shadow: 10px 10px 5px 2px rgba(0, 0, 0, 0.18);
	width: 350px;
	height: 30px;
}

.updateinfo_container .form_info {
	box-shadow: none;
}

.updateinfo_container .form_info input,
.updateinfo_container .form_info label {
	margin: 0.05em;
	display: block;
}

.updateinfo_container .form_info input[type="button"],
.updateinfo_container .form_info .change_pass {
	margin-top: 1em;
	background-color: var(--middle-blue-green);
}

body.dark .updateinfo_container .form_info input[type="button"],
body.dark .updateinfo_container .form_info .change_pass {
	background-color: var(--skobeloff);
}

.updateinfo_container .form_info input[type="submit"]:hover {
	box-shadow: 0px -1px 4px 8px rgba(0, 0, 0, 0.18);
	-webkit-box-shadow: 0px -1px 4px 8px rgba(0, 0, 0, 0.18);
	-moz-box-shadow: 0px -1px 4px 8px rgba(0, 0, 0, 0.18);
	transition: box-shadow 0.7s ease-in-out;
}

.updateinfo_container .form_info .fom_update__h4 {
	text-align: center;
	font-size: 1.2em;
	margin-bottom: 0.5em;
	filter: drop-shadow(0 0 1px #fff) drop-shadow(1px 1px 0 #fff) drop-shadow(-1px 1px 0 #fff)
		drop-shadow(1px -1px 0 #fff) drop-shadow(-1px -1px 0 #fff);
}

body.dark .updateinfo_container .form_info .fom_update__h4 {
	filter: none;
}

.updatedata_container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-right: 1em;
}

#enviar,
#limpiar {
	margin-top: 1em;
	padding: 0.5em 1em;
	border-radius: 10%;
	border: none;
}

#enviar {
	background: var(--emerald);
}

body.dark #enviar {
	background: var(--skobeloff);
}

#limpiar {
	background: var(--popstar);
}

body.dark #limpiar {
	background: var(--red-black);
}

/*---------------------------->*/
/* MODULO DE REPORTES */
/*---------------------------->*/

.reportes_container {
	display: grid;
	gap: 1em;
	width: 100%;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	align-items: center;
}

.reportes_container .reporte_card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 400px;
	height: 400px;
	background: var(--emerald);
	border-radius: 1em;
	filter: drop-shadow(0 0 25px rgba(255, 255, 255, 0.4));
}

body.dark .reportes_container .reporte_card {
	background-color: var(--skobeloff);
	box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.05), 4px 4px 6px rgba(0, 0, 0, 0.2),
		inset -1px -1px 4px rgba(255, 255, 255, 0.05), inset 1px 1px 1px rgba(0, 0, 0, 0.2);
	filter: none;
}

.reportes_container .reporte_card .icon_reporte {
	font-size: 4em;
	color: var(--champagne-pink);
	filter: drop-shadow(0 0 25px rgba(255, 255, 255, 0.5));
}

.reportes_container .reporte_card h4 {
	color: var(--champagne-pink);
	font-weight: bold;
	font-size: 1.5em;
}

.reportes_container .reporte_card button {
	background: var(--popstar);
	color: var(--champagne-pink);
	border: none;
	border-radius: 0.2em;
	cursor: pointer;
	padding: 0.2em 0.5em;
}

body.dark .reportes_container .reporte_card button {
	background: var(--red-black);
}

/* ================================================================= */
/* ============				RESPONSIVE				   ============= */
/* ================================================================= */

@media only screen and (max-width: 1640px) {
	.reportes_container .reporte_card {
		width: 250px;
	}
}

@media (max-width: 1399.98px) {
	.updateinfo_container {
		grid-template-columns: 1fr;
		height: auto;
		padding: 2em 0;
	}

	.updateinfo_container .form_info {
		margin-bottom: 2em;
	}
}

@media only screen and (max-width: 978px) {
	.container {
		grid-template-columns: 1fr;
		/* grid-template-rows: 0.2fr 2.2fr; */
		grid-template-rows: 0.2fr 3fr;
		grid-template-areas:
			"nav"
			"main";
	}

	#sidebar {
		display: none;
	}

	.sidebar__title > i {
		display: inline;
	}

	.nav_icon {
		display: inline;
		color: var(--champagne-pink);
	}

	.main__container {
		grid-column: auto;
		grid-row: auto;
	}

	.reportes_container .reporte_card {
		width: 250px;
	}
}

@media only screen and (max-width: 855px) {
	.main__container {
		grid-column: auto;
		grid-row: auto;
		padding: 3em 0;
	}

	.reportes_container {
		grid-template-columns: 1fr;
	}

	.updateinfo_container .form_info {
		filter: none;
	}
}

@media only screen and (max-width: 480px) {
	.navbar__left {
		display: none;
	}

	.sidebar__username {
		display: block;
	}

	.updateinfo_container {
		width: 320px;
	}

	.updateinfo_container .form_info {
		width: 300px;
	}

	.updateinfo_container .form_info input,
	.updateinfo_container .form_info .change_pass {
		width: 250px;
	}
}
