@import url("colors_fonts.css");

:root {
	--primary-color: #fff;
	--secondary-color: rgb(61, 68, 73);
	--highlight-color: var(--middle-blue-green);

	--dt-status-available-color: greenyellow;
	--dt-status-canceled-color: lightsalmon;
	--dt-status-offline-color: lightgray;

	--dt-padding: 12px;
	--dt-padding-s: 6px;
	--dt-padding-xs: 2px;

	--dt-border-radius: 5px;

	--dt-background-color-container: #2a3338;
}

.tools button {
	font-size: 16px;
}

.datatable-container {
	font-family: var(--montserrat);
	background-color: var(--dt-background-color-container);
	border-radius: var(--dt-border-radius);
	color: var(--primary-color);
	margin: 0 auto;
	font-size: 16px;
}

body.dark .datatable-container {
	box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.05), 4px 4px 6px rgba(0, 0, 0, 0.2),
		inset -1px -1px 4px rgba(255, 255, 255, 0.05), inset 1px 1px 1px rgba(0, 0, 0, 0.2);
	filter: drop-shadow(0, 0, 15px #00f3ff);
	animation: animate 5s linear infinite;
}

.datatable-container .header-tools {
	border-bottom: solid 1px var(--secondary-color);
	padding: var(--dt-padding);
	display: flex;
	align-items: baseline;
}

.datatable-container .header-tools .search {
	width: 30%;
}

.datatable-container .header-tools .search .search-input {
	width: 100%;
	background-color: var(--secondary-color);
	display: block;
	box-sizing: border-box;
	border-radius: var(--dt-border-radius);
	border: solid 1px var(--secondary-color);
	color: var(--primary-color);
}

.datatable-container .header-tools .tools {
	width: 70%;
}

.datatable-container .header-tools .tools ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: start;
	align-items: baseline;
}

.datatable-container .header-tools .tools ul li {
	display: inline-block;
	margin: 0 var(--dt-padding-xs);
	align-items: baseline;
}

.datatable-container .footer-tools {
	padding: var(--dt-padding);
	display: flex;
	align-items: baseline;
}

.datatable-container .footer-tools .list-items {
	width: 50%;
}

.datatable-container .footer-tools .pages {
	margin-left: auto;
	margin-right: 0;
	width: 50%;
}

.datatable-container .footer-tools .pages ul {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: baseline;
	justify-content: flex-end;
}

.datatable-container .footer-tools .pages ul button,
.datatable-container .header-tools .tools ul li button {
	color: var(--primary-color);
	box-sizing: border-box;
	border: 0;
	border-radius: var(--dt-border-radius);
	background: transparent;
	cursor: pointer;
}

.datatable-container .footer-tools .pages ul div button:hover,
.datatable-container .header-tools .tools ul li button:hover {
	background: var(--highlight-color);
	color: var(--primary-color);
}

.datatable-container .footer-tools .pages ul div button.active {
	background-color: var(--highlight-color);
	border-radius: var(--dt-border-radius);
}

.datatable-container .datatable,
.datatable-container .datatable th,
.datatable-container .datatable td {
	padding: var(--dt-padding) var(--dt-padding);
}

.datatable-container .datatable th {
	font-weight: bolder;
	text-align: center;
	border-bottom: solid 1px var(--secondary-color);
}

.datatable-container .datatable td {
	text-align: center;
	border-bottom: solid 1px var(--secondary-color);
}

.datatable-container .datatable tbody tr:nth-child(even) {
	background-color: var(--secondary-color);
}

.datatable-container .datatable tbody tr:hover {
	background-color: var(--highlight-color);
}

.datatable-container .datatable tbody tr .available::after,
.datatable-container .datatable tbody tr .offline::after {
	display: inline-block;
	vertical-align: middle;
}

.datatable-container .datatable tbody tr .available::after {
	content: "Activa";
	color: var(--dt-status-available-color);
}

.datatable-container .datatable tbody tr .offline::after {
	content: "Completada";
	color: var(--dt-status-offline-color);
}

.datatable-container .datatable tbody tr .canceled::after {
	content: "Cancelada";
	color: var(--dt-status-canceled-color);
}

.datatable-container .datatable tbody tr .available::before,
.datatable-container .datatable tbody tr .offline::before,
.datatable-container .datatable tbody tr .canceled::before {
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	vertical-align: middle;
}

.datatable-container .datatable tbody tr .available::before {
	background-color: var(--dt-status-available-color);
}

.datatable-container .datatable tbody tr .offline::before {
	background-color: var(--dt-status-offline-color);
}

.datatable-container .datatable tbody tr .canceled::before {
	background-color: var(--dt-status-canceled-color);
}

.btn-edit,
.btn-delete {
	padding: 4px;
	border-radius: 5px;
	border: none;
	font-weight: 600;
	color: var(--champagne-pink);
	cursor: pointer;
}

.btn-edit {
	background: var(--emerald);
}

.btn-delete {
	background: var(--popstar);
}

.odd,
.child {
	background: none !important;
}

.dataTables_length,
#DataTables_Table_0_previous,
#DataTables_Table_0_next,
.dataTables_info,
.dataTables_filter {
	color: white !important;
}

#DataTables_Table_0_paginate span a {
	color: #000 !important;
}

.dataTables_info,
.dataTables_length,
.dataTables_filter,
#DataTables_Table_0_paginate {
	margin: 1em !important;
}

#DataTables_Table_0 {
	padding: 0 !important;
	width: auto !important;
}

@media only screen and (max-width: 480px) {
	#DataTables_Table_0_wrapper {
		width: 100vw;
	}
}

table.dataTable tbody tr {
	background-color: var(--dt-background-color-container);
}
