@import url("colors_fonts.css");
@import url("datatable.css");

/* Formulario de añadir reserva */

.form-modal {
	font-family: var(--montserrat);
	font-size: 16px;
}

.form-modal > form {
	width: 700px;
}

body.dark .form-modal > form {
	background: var(--carbon-black);
}

.form-modal > form > .form-title {
	margin: 1.5em 0;
	text-align: center;
}

.form-modal .form-fields {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
}

.form-modal > form input,
.form-modal > form select,
.form-modal > form select option {
	width: 250px;
	height: 2em;
	border: 1px solid var(--emerald);
	border-radius: 5px;
}

.form-modal > form input[type="button"] {
	margin-top: 1em;
	font-weight: bold;
	background: var(--highlight-color);
}

body.dark .form-modal > form input[type="button"] {
	background: var(--skobeloff);
}

.modal-contenido {
	background-color: var(--primary-color);
	border-radius: var(--dt-border-radius);
	width: 300px;
	padding: 10px 20px;
	margin: 10% auto;
	position: relative;
	box-shadow: -8px 9px 48px 9px rgba(0, 0, 0, 0.69);
}

.pop-up {
	background: rgba(48, 48, 48, 0.5);
	position: fixed;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

.pop-up-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	max-width: 950px;
	transform: scale(0.6);
	opacity: 0;
	transition: 0.3s ease all;
	background-color: var(--primary-color);
	border-radius: var(--dt-border-radius);
	width: 300px;
	padding: 10px 20px;
	margin: 10% auto;
	position: relative;
	box-shadow: -8px 9px 48px 9px rgba(77, 72, 72, 0.69);
}

.closePopup {
	color: var(--red-dark);
	font-size: 1.5em;
	padding: 1px 4px;
}

body.dark .closePopup {
	color: var(--red-black);
}

.pop-up.show {
	visibility: visible;
}

.pop-up-wrap.show {
	transform: scale(1);
	opacity: 1;
	display: flex;
}

@media screen and (max-width: 699px) {
	.form-modal > form {
		width: 300px;
	}

	.form-modal .form-fields {
		flex-direction: column;
	}
}

/*Formulario añadir categora*/
.form_categoria {
	display: none;
}

.form_categoria.show {
	display: block;
}

.form_categoria {
	background: white;
	color: black;
	margin: auto;
	transition: 0.3s ease all;
	width: 450px;
	height: 320px;
	position: absolute;
	top: 0;
	left: 200px;
	bottom: 0;
	right: 0;
	margin: auto;
	text-align: center;
}
.form_categoria input {
	padding: 10px;
}
.form_categoria h2 {
	padding: 10px;
}
.form_categoria h3 {
	padding: 10px;
	font-weight: normal;
}
#label_categoria {
	padding: 10px;
}
#cerrar_categoria {
	color: #ffffff;
	background: #dd3333;
	border-radius: 0.25em;
	font-size: 20px;
	cursor: pointer;
	-webkit-appearance: button;
	margin-top: 40px;
	border: none;
}
#cerrar_categoria:hover {
	background: #ab353f;
}
#enviar_categoria {
	color: #ffffff;
	background-color: #3085d6;
	border-radius: 0.25em;
	font-size: 20px;
	cursor: pointer;
	-webkit-appearance: button;
	margin-top: 40px;
	border: none;
}
#enviar_categoria:hover {
	background: #18558e;
}

#nombre_categoria {
	width: 80%;
	height: 60px;
	border: 1px solid var(--emerald);
	border-radius: 5px;
}

/*Formulario editar categoria*/
.edit_category {
	display: none;
}

.edit_category {
	background: white;
	color: black;
	margin: auto;
	width: 450px;
	height: 340px;
	position: absolute;
	top: 0;
	left: 200px;
	bottom: 0;
	right: 0;
	margin: auto;
	text-align: center;
}
.edit_category input {
	padding: 8px;
	margin-top: 10px;
}
.edit_category h2 {
	padding: 10px;
}
.edit_category h3 {
	padding: 8px;
	font-weight: normal;
}
#cerrar_actualizacion_categoria {
	color: #ffffff;
	background: #dd3333;
	border-radius: 0.25em;
	font-size: 20px;
	cursor: pointer;
	-webkit-appearance: button;
	margin-top: 40px;
	border: none;
}
#cerrar_actualizacion_categoria:hover {
	background: #ab353f;
}
#enviar_actualizacion_categoria {
	color: #ffffff;
	background-color: #3085d6;
	border-radius: 0.25em;
	font-size: 20px;
	cursor: pointer;
	-webkit-appearance: button;
	margin-top: 40px;
	border: none;
}
#enviar_actualizacion_categoria:hover {
	background: #18558e;
}

#edit_category .id_categoria_producto,
#categoria {
	padding: 10px;
	width: 80%;
	height: 50px;
}
/*Modal agregar producto*/
#submit {
	background: #7fd1b9;
	transition: all 0.5s;
}

#submit:hover {
	background: #7fd1b9;
	font-size: large;
	font-weight: 700px;
}
.form_add_product {
	background: white;
	border-radius: 5px;
	margin: 0 auto;
	width: 600px;
	display: none;
}
.form_add_product input {
	margin: 10px;
	padding: 10px;
	font-weight: 600;
	width: 95%;
	border-radius: 0.5em;
	border: 1px solid;
	border-color: #4e937a;
}
.form_add_product select {
	border-color: #4e937a;
}
.form_add_product label {
	padding: 15px;
	margin-bottom: 1em;
	color: black;
}
.container_add_product {
	background: rgba(48, 48, 48, 0.5);
	position: fixed;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}
#DESCRIPCION_PRODUCTO {
	width: 400px;
	height: 100px;
	margin: 10px;
	padding: 10px;
	font-weight: 600;
	width: 95%;
	border-radius: 0.5em;
	border-color: #4e937a;
	resize: none;
}
.ID_CATEGORIA_PRODUCTO {
	background: transparent;
	border: none;
	font-size: 14px;
	height: 30px;
	padding: 5px;
	width: 250px;
}
.ID_CATEGORIA_PRODUCTO::-ms-expand {
	display: none;
}
.ID_CATEGORIA_PRODUCTO:hover {
	border-color: #7fd1b9ff;
}
.ID_CATEGORIA_PRODUCTO:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.categoria_producto {
	margin: 10px;
	padding: 10px;
	font-weight: 600;
	width: 95%;
	border-radius: 0.5em;
	border-color: #4e937a;
}
.IMAGEN_PRODUCTO {
	background-color: #de6e4bff;
	color: #fff;
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
	margin: 0 auto 0;
	min-height: 15px;
	overflow: hidden;
	padding: 10px;
	position: relative;
	text-align: center;
	width: 600px;
}
.title {
	text-align: center;
}
.close-modal-product {
	cursor: pointer;
	padding: 3px;
	display: flex;
	margin: auto;
}

.close_add_product {
	color: #ad343e;
}
/*Estilo datatable*/
.container_table {
	position: relative;
}

/*Formulario editar producto*/
.container_edit_product {
	background: rgba(48, 48, 48, 0.5);
	position: fixed;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}
.form_edit_product {
	display: none;
}
.show {
	display: block;
}
.form_edit_product {
	background: white;
	border-radius: 5px;
	margin: center;
	height: 100%;
	margin: 0 auto;
	width: 600px;
}
#submit {
	background: #7fd1b9;
	transition: all 0.5s;
}

#submit:hover {
	background: #7fd1b9;
	font-size: large;
	font-weight: 700px;
}
.form_edit_product input {
	margin: 10px;
	padding: 10px;
	font-weight: 600;
	width: 95%;
	border-radius: 0.5em;
	border: 1px solid;
	border-color: #4e937a;
}
.form_edit_product select {
	border-color: #4e937a;
}
.form_edit_product label {
	padding: 15px;
	margin-bottom: 1em;
	color: black;
}
#DESCRIPCION_PRODUCTO_Editar {
	width: 400px;
	height: 100px;
	margin: 10px;
	padding: 10px;
	font-weight: 600;
	width: 95%;
	border-radius: 0.5em;
	border-color: #4e937a;
	resize: none;
}
.ID_EDIT_PRODUCT {
	display: none;
}
@media (min-width: 500px) and (max-width: 700px) {
	.form_add_product {
		width: 450px;
	}
}

.overlay {
	background: rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay.active {
	visibility: visible;
}

.popup {
	background: #f8f8f8;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
	border-radius: 25px;
	font-family: "Montserrat", sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	transition: 0.3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: 0.5s ease all;
	color: #bbbbbb;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

.popup h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

.popup form .contenedor-inputs {
	opacity: 0;
}

.popup form .contenedor-inputs input {
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #bbbbbb;
}

.popup form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5e7de3;
	border-radius: 3px;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: 0.8s ease all;
}

.popup form .btn-submit:hover {
	background: rgba(94, 125, 227, 0.9);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {
	transform: scale(1);
	opacity: 1;
}
.popup.active h3 {
	animation: entradaTitulo 0.8s ease 0.5s forwards;
}
.popup.active h4 {
	animation: entradaSubtitulo 0.8s ease 0.5s forwards;
}
.popup.active .contenedor-inputs {
	animation: entradaInputs 1s linear 1s forwards;
}

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media (max-width: 500px) {
	.form_add_product {
		max-width: 320px;
		width: 100%;
	}
	.form_edit_product {
		max-width: 300px;
		width: 100%;
	}
	.form_categoria {
		max-width: 320px;
		width: 100%;
		left: 0;
		height: 80%;
	}
	.edit_category {
		max-width: 320px;
		width: 100%;
		left: 0;
		height: 90%;
	}
}

@media (min-width: 500px) and (max-width: 700px) {
	.form_add_product {
		max-width: 500px;
		width: 100%;
	}
	.form_edit_product {
		max-width: 500px;
		width: 100%;
	}
	.form_categoria {
		max-width: 500px;
		width: 100%;
		left: 0;
		height: 80%;
	}
	.edit_category {
		max-width: 500px;
		width: 100%;
		left: 0;
		height: 90%;
	}
}
