@import url("colors_fonts.css");
@import url("datatable.css");

/* Formulario de añadir reserva */

.form-modal {
	font-family: var(--montserrat);
	font-size: 16px;
}

.form-modal > form {
	width: 700px;
}

body.dark .form-modal > form {
	background: var(--carbon-black);
}

.form-modal > form > .form-title {
	margin: 1.5em 0;
	text-align: center;
}

.form-modal .form-fields {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
}

.form-modal > form input,
.form-modal > form select,
.form-modal > form select option {
	width: 250px;
	height: 2em;
	border: 1px solid var(--emerald);
	border-radius: 5px;
}

.form-modal > form input[type="button"] {
	margin-top: 1em;
	font-weight: bold;
	background: var(--highlight-color);
}

body.dark .form-modal > form input[type="button"] {
	background: var(--skobeloff);
}

.modal-contenido {
	background-color: var(--primary-color);
	border-radius: var(--dt-border-radius);
	width: 300px;
	padding: 10px 20px;
	margin: 20% auto;
	position: relative;
	box-shadow: -8px 9px 48px 9px rgba(0, 0, 0, 0.69);
}

.pop-up {
	background: rgba(48, 48, 48, 0.5);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
}

.pop-up-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	max-width: 950px;
	transform: scale(0.6);
	opacity: 0;
	transition: 0.3s ease all;
	background-color: var(--primary-color);
	border-radius: var(--dt-border-radius);
	width: 300px;
	padding: 10px 20px;
	margin: 20% auto;
	position: relative;
	box-shadow: -8px 9px 48px 9px rgba(77, 72, 72, 0.69);
}

.closePopup {
	color: var(--red-dark);
	font-size: 1.5em;
	padding: 1px 4px;
}

body.dark .closePopup {
	color: var(--red-black);
}

.pop-up.show {
	visibility: visible;
}

.pop-up-wrap.show {
	transform: scale(1);
	opacity: 1;
}

@media screen and (max-width: 699px) {
	.form-modal > form {
		width: 300px;
	}

	.form-modal .form-fields {
		flex-direction: column;
	}
}

/*Formulario añadir categora*/
.form_categoria {
	display: none;
}

.form_categoria.show {
	display: block;
}

.form_categoria {
	background: white;
	color: black;
	margin: auto;
	transition: 0.3s ease all;
	width: 450px;
	height: 320px;
	position: absolute;
	top: 0;
	left: 200px;
	bottom: 0;
	right: 0;
	margin: auto;
	text-align: center;
}
.form_categoria input {
	padding: 10px;
}
.form_categoria h2 {
	padding: 10px;
}
.form_categoria h3 {
	padding: 10px;
	font-weight: normal;
}
#label_categoria {
	padding: 10px;
}
#cerrar_categoria {
	color: #ffffff;
	background: #dd3333;
	border-radius: 0.25em;
	font-size: 20px;
	cursor: pointer;
	-webkit-appearance: button;
	margin-top: 40px;
	border: none;
}
#cerrar_categoria:hover {
	background: #ab353f;
}
#enviar_categoria {
	color: #ffffff;
	background-color: #3085d6;
	border-radius: 0.25em;
	font-size: 20px;
	cursor: pointer;
	-webkit-appearance: button;
	margin-top: 40px;
	border: none;
}
#enviar_categoria:hover {
	background: #18558e;
}

#nombre_categoria {
	width: 80%;
	height: 60px;
	border: 1px solid var(--emerald);
	border-radius: 5px;
}

/*Formulario editar categoria*/
.edit_category {
	display: none;
}
.show1 {
	display: block;
}
.edit_category {
	background: white;
	color: black;
	margin: auto;
	width: 450px;
	height: 340px;
	position: absolute;
	top: 0;
	left: 200px;
	bottom: 0;
	right: 0;
	margin: auto;
	text-align: center;
}
.edit_category input {
	padding: 8px;
	margin-top: 10px;
}
.edit_category h2 {
	padding: 10px;
}
.edit_category h3 {
	padding: 8px;
	font-weight: normal;
}
#cerrar_actualizacion_categoria {
	color: #ffffff;
	background: #dd3333;
	border-radius: 0.25em;
	font-size: 20px;
	cursor: pointer;
	-webkit-appearance: button;
	margin-top: 40px;
	border: none;
}
#cerrar_actualizacion_categoria:hover {
	background: #ab353f;
}
#enviar_actualizacion_categoria {
	color: #ffffff;
	background-color: #3085d6;
	border-radius: 0.25em;
	font-size: 20px;
	cursor: pointer;
	-webkit-appearance: button;
	margin-top: 40px;
	border: none;
}
#enviar_actualizacion_categoria:hover {
	background: #18558e;
}

#edit_category .id_categoria_producto,
#categoria {
	padding: 10px;
	width: 80%;
	height: 50px;
}
